<!-- <div class="profile-greeting">
  <div class="greeting-content">
    <div class="text-content">
      <h1 class="greeting-title">Hello {{ username }}!</h1>
      <p class="greeting-message">
        You have {{ newApplicationsCount }} new applications. It is a lot of work for today!
      </p>
      <p class="greeting-message">So let's start.</p>
      <a href="#" class="view-all-link">View All</a>
    </div>

    <div class="illustration ">
      <img
        src="assets/images/ImageProfile.png"
        alt="Profile Illustration"
        class="illustration-image"
      />
    </div>
  </div>
</div> -->

<!-- new code start here
<div class="container">
<div class="profile-greeting">
  <div class="text-content">
    <h1 class="greeting-title">Hello {{ username }}!</h1>
    <p class="greeting-message">
      You have {{ newApplicationsCount }} new applications. It is a lot of work for today!
    </p>
    <p class="greeting-message">So let's start.</p>
    <a href="#" class="view-all-link">View All</a>
  </div>
   <div class="greeting-content">
        <img src="assets/images/imageprofileoriginal.png" alt="Profile Illustration" class="illustration-image">
   </div>
</div>
</div> -->

<div class="container">
  <div class="profile-greeting">
    <div class="text-content">
      <h1 class="greeting-title">Hello {{ username }}!</h1>
      <p class="greeting-message">
        You have {{ newApplicationsCount }} new applications. It is a lot of work for today!
      </p>
      <p class="greeting-message">So let's start.</p>
      <a href="#" class="view-all-link">View All</a>
    </div>

    <div class="greeting-content">
      <img
        src="assets/images/imageprofileoriginal.png"
        alt="Profile Illustration"
        class="illustration-image"
      />
    </div>
  </div>
</div>
