<div class="summary-cards">
    <div class="cards-grid">
      <ng-container *ngFor="let c of cards">
        <div class="summary-card" [ngClass]="c.cssClass" [ngStyle]="{ 'background-color': c.backgroundColor }">
          <div class="card-icon" [ngClass]="c.cssClass">
            <img *ngIf="c.icon" [src]="c.icon" alt="{{c.label}}" class="card-icon-image" />
          </div>
  
          <div class="card-content">
             <div class="card-label">{{ c.label }}</div>
            <div class="card-number" [style.color]="c.color">{{ c.value }}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>