
<div class="summary-cards">
    <h2 class="section-title">Summary</h2>

    <div class="cards-grid">
      <ng-container *ngFor="let c of cards">
        <div class="summary-card">
          <div class="card-icon" [ngClass]="c.cssClass">
            <img *ngIf="c.icon" [src]="c.icon" alt="{{c.label}}" class="card-icon-image" />
          </div>
  
          <div class="card-content">
            <div class="card-number">{{ c.value }}</div>
            <div class="card-label">{{ c.label }}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  