<!-- <div class="container">
    <div class="header-div">
      <app-header></app-header>
    </div>
    <div class="body-container">
       <app-sidebar></app-sidebar>
        <div class="router-main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->
<!-- 
<div class="container" [class.app-with-sidebar-expanded]="sidebarExpanded">
    <div class="header-div">
        <app-header></app-header>
    </div>
    <div class="body-container">
        <app-sidebar (expandedChange)="sidebarExpanded = $event"></app-sidebar>

        <div class="router-main" [class.expanded]="sidebarExpanded">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->

<div class="app-root" [class.sidebar-open]="sidebarExpanded">
    <app-header *ngIf="!isAuthRoute"></app-header>
    <div class="body-container">
        <div class="sidebar-container" *ngIf="!isAuthRoute">
            <app-sidebar (expandedChange)="sidebarExpanded = $event"></app-sidebar>
        </div>

        <!-- Option A: margin-left approach -->
        <main class="router-main" [style.marginLeft.px]="sidebarExpanded && !isAuthRoute ? 150 : 40">
          <router-outlet></router-outlet>
        </main>
      </div>
</div>
